In [2]:
from collections import namedtuple

n=int(input())
Student=namedtuple ('Student', input())

sum=0

for i in range(0,n):
    sum=sum+int(Student(*input().split()).MARKS)

print(sum/n)

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
5
ID         MARKS      NAME       CLASS     
1          97         Raymond    7         
2          50         Steven     4         
3          91         Adrian     9         
4          72         Stewart    5         
5          80         Peter      6